<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809901613197-pmnrrv20scmt7k1ilgbh7bbmspg87ad5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809901613197-pmnrrv20scmt7k1ilgbh7bbmspg87ad5</string>
	<key>API_KEY</key>
	<string>AIzaSyDaoGyV8JvSNce8ie1WQ1nVIaZsUGnz9tw</string>
	<key>GCM_SENDER_ID</key>
	<string>809901613197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ec.edu.ups.pm.examen2020</string>
	<key>PROJECT_ID</key>
	<string>johntenesacaexamen-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>johntenesacaexamen-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809901613197:ios:901eef2cf77411668a02c4</string>
	<key>DATABASE_URL</key>
	<string>https://johntenesacaexamen-2020.firebaseio.com</string>
</dict>
</plist>